.con {
  background-color: rgb(245, 192, 94);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.con1 {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  background-size: cover;
}
.head {
  color: rgb(245, 192, 94);
  margin: 10px;
  font-family: Bree Serif;
  text-align: center;
  font-weight: bold;
}
.sub {
  margin: 5px;
  list-style-type: none;
}
